.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}


.profile-thumbnail p{
	text-align: center;
}

#btn-newCircle{
margin-bottom: auto;
margin-top: auto;
margin: 15px;
}

#btn-writePost{
background-color: transparent;
border-color: transparent;
/*font-size: 0.6em;*/
color:rgb(51,69,79);
}

.profile-circles{
 	display: block;
    margin-left: auto;
    margin-right: auto 
}

.circle-members .panel-heading{
	background: transparent;
	border: none;

}

.circle-group .caption h3{
	text-align: center;
}

.circle-group .thumbnail{
	border: none;
}