.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}


.profile-thumbnail p{
	text-align: center;
}

#btn-newCircle{
margin-bottom: auto;
margin-top: auto;
margin: 15px;
}



.profile-circles{
 	display: block;
    margin-left: auto;
    margin-right: auto 
}

.circle-members .panel-heading{
	background: transparent;
	border: none;

}



.circle-group .caption{
	text-align: center;
}

.circle-group .caption #btn-transparent{
    margin-left: auto;
    margin-right: auto 
}

.circle-group .thumbnail{
	border: none;
	margin:0px;

}

.circle-group .thumbnail h3{
	margin: none;
}

.profile-thumbnail p{
	margin-top:5px;
	margin-bottom:5px;
}



