.header {
	margin-top: 10%;
	margin-left: 5%;
	float: left;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: rgb(92,184,92) !important;
}

.form-group input{
	border-radius: 0px;
}

div#login_btns {
	float: right;
}

#login_btns input, #login_btns a {
	border-radius: 0px;
	padding: 5px 10px;
}

#signup_back {
	text-decoration: none;
	color: green;
}

#login_container input:focus {
    border-color: green;
}

#login_container{
	margin-top: 50px;
}

