#navbar{
/*red*/
/*
background-color: rgb(221,77,66);
*/

/*blue*/
/*
background-color: rgb(51,122,183);
*/

/*green*/
background-color: rgb(92,184,92);


}
#navbar-toggle-icon-black{
background-color: rgb(51,69,79);
}

#navbar-toggle-black{
border-color: rgb(51,69,79);

}




.dropdown-toggle-white{

color: rgb(51,69,79);

}


#navbar-brand-white{
color:white;
}