
@media(max-width:768px)
{
#sidebar{
/*red*/
/*
background-color: rgb(221,77,66);
*/

/*blue*/



 width: 70px;
 /*
 height: 600px;
 */
 background:  white;

 text-align: center;



}
}

#sidebar li {
	margin-top:20px;
	margin-bottom:50px;
}

#sidebar ul {
 background: rgb(51,69,79);

}

.button-toggle-grey {
	color: #E8E7E7;
}

#sidebar .active {
	border: 0px;
}


#sidebar ul.nav.nav-second-level.collapse.in::before {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;

}

#sidebar li:hover {
		background: rgb(21,49,59);
}

#sidebar-toggle-icon-black:hover{
	background: rgb(21,49,59);
}



#sidebar a {
	padding: 0px;
}

#sidebar button {
	background-color: transparent;
	border: 0px;
}




